.how-to-get-service {
    height: 425px;
    left: -12px;
    position: absolute;
    top: 5979px;
    width: 1399px;
  }
  
  .how-to-get-service .text-wrapper-17 {
    color: #010725;
    font-family: var(--desktop-h1-font-family);
    font-size: var(--desktop-h1-font-size);
    font-style: var(--desktop-h1-font-style);
    font-weight: var(--desktop-h1-font-weight);
    height: 80px;
    left: 125px;
    letter-spacing: var(--desktop-h1-letter-spacing);
    line-height: var(--desktop-h1-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    width: 1244px;
  }
  
  .how-to-get-service .overlap-2 {
    height: 278px;
    left: 0;
    position: absolute;
    top: 147px;
    width: 1393px;
  }
  
  .how-to-get-service .sign-up-create-your {
    color: #010725;
    font-family: "DM Sans", Helvetica;
    font-size: 28px;
    font-weight: 400;
    height: 253px;
    left: 287px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: 25px;
    width: 1106px;
  }
  
  .how-to-get-service .text-wrapper-18 {
    color: #010725;
    font-family: "DM Sans", Helvetica;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
  }
  
  .how-to-get-service .text-wrapper-19 {
    font-weight: 700;
  }
  
  .how-to-get-service .text-wrapper-20 {
    color: #010725;
    font-family: "DM Sans", Helvetica;
    font-size: 42px;
    font-weight: 700;
    height: 83px;
    left: 0;
    letter-spacing: 0;
    line-height: 55.0px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1002px;
  }
  