.pricing {
    height: 779px;
    left: -313px;
    position: absolute;
    top: 7138px;
    width: 1698px;
  }
  
  .pricing .overlap {
    height: 248px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1250px;
  }
  
  .pricing .div-wrapper {
    height: 206px;
    left: 858px;
    position: absolute;
    top: 42px;
    width: 392px;
  }
  
  .pricing .text-wrapper-4 {
    color: var(--light-green);
    font-family: var(--m3-headline-medium-font-family);
    font-size: var(--m3-headline-medium-font-size);
    font-style: var(--m3-headline-medium-font-style);
    font-weight: var(--m3-headline-medium-font-weight);
    height: 36px;
    left: 0;
    letter-spacing: var(--m3-headline-medium-letter-spacing);
    line-height: var(--m3-headline-medium-line-height);
    position: absolute;
    top: 154px;
    width: 363px;
  }
  
  .pricing .text-wrapper-5 {
    color: #010725;
    font-family: "DM Sans", Helvetica;
    font-size: 42px;
    font-weight: 700;
    height: 83px;
    left: 0;
    letter-spacing: 0;
    line-height: 55.0px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1002px;
  }
  
  .pricing .p {
    color: #010725;
    font-family: "DM Sans", Helvetica;
    font-size: 28px;
    font-weight: 400;
    height: 125px;
    left: 435px;
    letter-spacing: 0;
    line-height: 45px;
    position: absolute;
    top: 42px;
    width: 603px;
  }
  
  .pricing .div-5 {
    height: 206px;
    left: 1281px;
    position: absolute;
    top: 42px;
    width: 392px;
  }
  
  .pricing .text-wrapper-6 {
    color: var(--light-green);
    font-family: var(--m3-headline-medium-font-family);
    font-size: var(--m3-headline-medium-font-size);
    font-style: var(--m3-headline-medium-font-style);
    font-weight: var(--m3-headline-medium-font-weight);
    height: 36px;
    left: 0;
    letter-spacing: var(--m3-headline-medium-letter-spacing);
    line-height: var(--m3-headline-medium-line-height);
    position: absolute;
    top: 157px;
    white-space: nowrap;
  }
  
  .pricing .overlap-group {
    height: 523px;
    left: 456px;
    position: absolute;
    top: 256px;
    width: 1238px;
  }
  
  .pricing .div-6 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #2f2f2f;
    border-top-style: solid;
    border-top-width: 1px;
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1238px;
  }
  
  .pricing .text-wrapper-7 {
    color: #010725;
    font-family: var(--desktop-body-font-family);
    font-size: var(--desktop-body-font-size);
    font-style: var(--desktop-body-font-style);
    font-weight: var(--desktop-body-font-weight);
    height: 15px;
    left: 0;
    letter-spacing: var(--desktop-body-letter-spacing);
    line-height: var(--desktop-body-line-height);
    position: absolute;
    top: 23px;
    white-space: nowrap;
    width: 263px;
  }
  
  .pricing .div-7 {
    background-image: url(https://c.animaapp.com/W9MUR0Mj/img/frame-10.svg);
    background-size: 100% 100%;
    height: 19px;
    left: 423px;
    position: absolute;
    top: 22px;
    width: 19px;
  }
  
  .pricing .div-8 {
    background-image: url(https://c.animaapp.com/W9MUR0Mj/img/frame-7.svg);
    background-size: 100% 100%;
    height: 19px;
    left: 846px;
    position: absolute;
    top: 22px;
    width: 19px;
  }
  
  .pricing .div-9 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #2f2f2f;
    height: 63px;
    left: 0;
    position: absolute;
    top: 63px;
    width: 1238px;
  }
  
  .pricing .text-wrapper-8 {
    color: #010725;
    font-family: var(--desktop-body-font-family);
    font-size: var(--desktop-body-font-size);
    font-style: var(--desktop-body-font-style);
    font-weight: var(--desktop-body-font-weight);
    height: 15px;
    left: 0;
    letter-spacing: var(--desktop-body-letter-spacing);
    line-height: var(--desktop-body-line-height);
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 262px;
  }
  
  .pricing .div-10 {
    background-image: url(https://c.animaapp.com/W9MUR0Mj/img/frame-10.svg);
    background-size: 100% 100%;
    height: 19px;
    left: 423px;
    position: absolute;
    top: 21px;
    width: 19px;
  }
  
  .pricing .div-11 {
    background-image: url(https://c.animaapp.com/W9MUR0Mj/img/frame-7.svg);
    background-size: 100% 100%;
    height: 19px;
    left: 846px;
    position: absolute;
    top: 21px;
    width: 19px;
  }
  
  .pricing .div-12 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #2f2f2f;
    height: 63px;
    left: 0;
    position: absolute;
    top: 125px;
    width: 1238px;
  }
  
  .pricing .text-wrapper-9 {
    color: #010725;
    font-family: var(--desktop-body-font-family);
    font-size: var(--desktop-body-font-size);
    font-style: var(--desktop-body-font-style);
    font-weight: var(--desktop-body-font-weight);
    height: 15px;
    left: 0;
    letter-spacing: var(--desktop-body-letter-spacing);
    line-height: var(--desktop-body-line-height);
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 233px;
  }
  
  .pricing .div-13 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #2f2f2f;
    height: 63px;
    left: 0;
    position: absolute;
    top: 187px;
    width: 1238px;
  }
  
  .pricing .text-wrapper-10 {
    color: #010725;
    font-family: var(--desktop-body-font-family);
    font-size: var(--desktop-body-font-size);
    font-style: var(--desktop-body-font-style);
    font-weight: var(--desktop-body-font-weight);
    height: 15px;
    left: 0;
    letter-spacing: var(--desktop-body-letter-spacing);
    line-height: var(--desktop-body-line-height);
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 268px;
  }
  
  .pricing .div-14 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #2f2f2f;
    height: 63px;
    left: 0;
    position: absolute;
    top: 249px;
    width: 1238px;
  }
  
  .pricing .text-wrapper-11 {
    color: #010725;
    font-family: var(--desktop-body-font-family);
    font-size: var(--desktop-body-font-size);
    font-style: var(--desktop-body-font-style);
    font-weight: var(--desktop-body-font-weight);
    height: 15px;
    left: 0;
    letter-spacing: var(--desktop-body-letter-spacing);
    line-height: var(--desktop-body-line-height);
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 206px;
  }
  
  .pricing .div-15 {
    background-image: url(https://c.animaapp.com/W9MUR0Mj/img/frame-11.svg);
    background-size: 100% 100%;
    height: 19px;
    left: 846px;
    position: absolute;
    top: 21px;
    width: 19px;
  }
  
  .pricing .div-16 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #2f2f2f;
    height: 63px;
    left: 0;
    position: absolute;
    top: 311px;
    width: 1238px;
  }
  
  .pricing .text-wrapper-12 {
    color: #010725;
    font-family: var(--desktop-body-font-family);
    font-size: var(--desktop-body-font-size);
    font-style: var(--desktop-body-font-style);
    font-weight: var(--desktop-body-font-weight);
    height: 15px;
    left: 0;
    letter-spacing: var(--desktop-body-letter-spacing);
    line-height: var(--desktop-body-line-height);
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 249px;
  }
  
  .pricing .div-17 {
    height: 73px;
    left: 0;
    position: absolute;
    top: 373px;
    width: 1238px;
  }
  
  .pricing .text-wrapper-13 {
    color: #010725;
    font-family: var(--desktop-body-font-family);
    font-size: var(--desktop-body-font-size);
    font-style: var(--desktop-body-font-style);
    font-weight: var(--desktop-body-font-weight);
    height: 15px;
    left: 0;
    letter-spacing: var(--desktop-body-letter-spacing);
    line-height: var(--desktop-body-line-height);
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 263px;
  }
  
  .pricing .x-year {
    color: #010725;
    font-family: "DM Sans", Helvetica;
    font-size: 42px;
    font-weight: 400;
    height: 46px;
    left: 423px;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
    width: 102px;
  }
  
  .pricing .span {
    font-weight: 700;
    letter-spacing: 0;
    line-height: 55.0px;
  }
  
  .pricing .text-wrapper-14 {
    font-family: var(--desktop-body-2-font-family);
    font-size: var(--desktop-body-2-font-size);
    font-style: var(--desktop-body-2-font-style);
    font-weight: var(--desktop-body-2-font-weight);
    letter-spacing: var(--desktop-body-2-letter-spacing);
    line-height: var(--desktop-body-2-line-height);
  }
  
  .pricing .x-year-2 {
    color: #010725;
    font-family: "DM Sans", Helvetica;
    font-size: 42px;
    font-weight: 400;
    height: 46px;
    left: 846px;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
    width: 102px;
  }
  
  .pricing .text-wrapper-15 {
    font-family: "Inter", Helvetica;
    font-size: 41.3px;
    letter-spacing: 0.38px;
    line-height: 55.6px;
  }
  
  .pricing .div-18 {
    height: 78px;
    left: 0;
    position: absolute;
    top: 445px;
    width: 1238px;
  }
  
  .pricing .button-1 {
    background-color: var(--light-green) !important;
    display: flex !important;
    height: 69px !important;
    left: 398px !important;
    position: absolute !important;
    top: 9px !important;
    width: 161px !important;
  }
  
  .pricing .button-instance {
    color: #010725 !important;
    font-size: 20px !important;
    line-height: 25px !important;
    margin-bottom: -4.00px !important;
    margin-left: -2.00px !important;
    margin-right: -2.00px !important;
    margin-top: -6.00px !important;
  }
  
  .pricing .button-1-instance {
    background-color: var(--light-green) !important;
    display: flex !important;
    height: 69px !important;
    left: 825px !important;
    position: absolute !important;
    top: 9px !important;
    width: 161px !important;
  }
  