.services {
  width: 100%;
  max-width: 1188px;
  margin: 0 auto; /* Center */
  padding: 100px 0; /* Space around */
  position: relative; /* Prevent overlap */
  z-index: 1; /* Ensure it's behind Hook */
  font-family: "DM Sans", sans-serif
}


.services-header {
  text-align: center;
  margin-bottom: 40px;
}

.struggling-with {
  font-size: 60px !important;
  font-weight: bold;
  color: #010725;
  margin-bottom: 15px;
}

.text-highlight{
  color: #79d7bd;
}

.sub-text {
  font-size: 1.2rem;
  color: #010725;
}


.services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10x;
}

.reverse {
  flex-direction: row-reverse;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative; /* Needed for absolute positioning of the blur */
}

.image-container img {
  max-width: 80%;
  height: auto;
  position: relative;
  z-index: 2; /* Ensure image is above the blur */
  filter: drop-shadow(0px 0px 40px rgba(121, 215, 189, 0.8)); /* Glowing effect */
}



.text-content {
  flex: 1;
  max-width: 500px;
}

.text-content h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 42px;  /* Set font size */
  font-weight: bold; /* Make it bold */
  color: #010725; 
  margin-bottom: 20px;
}

.text-content p {
  font-size: 18px;
  color: #1B1B1B;
}

.text-content p strong {
  font-weight: bold;
}

@media (max-width: 768px) {
  .services-content {
    flex-direction: column;
    text-align: center;
  }

  .reverse {
    flex-direction: column;
  }

  .text-content {
    max-width: 100%;
    padding: 0 20px;
  }

  .image-container img {
    max-width: 60%;  /* Reduce image size on small screens */
  }
}
